*{
				margin:0;
				padding:0;
				box-sizing:border-box;
				word-wrap: break-word;
			}
			
			#grillePlanning{
				position:absolute;
				z-index:3;
				padding: 10px;
			}
			.bordPlanningDroite{
				background:white!important;
			}
			.bordPlanningGauche{
				background:#f3f3f3!important;
			}

			.bordPlanningGauche, .bordPlanningDroite {
				color:#08C;
			}
			.bordPlanningDroite {
				font-weight:bold;
				text-transform:capitalize;
			}
		
			.col{
				display:inline-block;
				/*background;*/
				float:left;
				width:150px;
				position:relative;
			}
			.col+.col{
				margin-left:-1px;
			}			
			.cell{
				border:solid 1px #C2C2C2;
				padding:5px;
				height:50px;
				width:100%;	
				overflow: hidden;
				background:#F9F9F9; 	
		}
			.cell+.cell{
				border-top:solid 0px gray;
			}
			.titre{
				color:white;
				font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
				font-size:15px;
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
				margin-bottom:10px;
				text-transform:capitalize;
			}
			.tache{
				position:absolute;
				top:70px;
				border:none;
				background:transparent;
				height:auto;
				overflow: visible;
				width:100%;
			}
			.laTache{
				border:1px rgb(203, 203, 203) solid;	
				border-radius:15px;
				padding:0px 10px;
				background:#ccb800;
				height:100%;
				width:100%;
				overflow: hidden;
				position:absolute;
				z-index:99;
			}
			
			
			.tacheTexte{
				color:white;
				text-transform:capitalize;	
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
				height:100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.optionInvisible {
				margin-left: -9000px;
				opacity: 0;
				transition: margin-left 0s ease 1s, opacity 1s linear 0s;
			}
			.optionInvisible {
				float: left;
			}
			.optionVisible {
				float: left;
			}
			.optionVisible {
				transition: margin-left 0s ease 0s, opacity 1.5s linear 0s;
				margin-top: 0px;
				margin-left: 0px;
				opacity: 1;
			}
			
			.colum {
				position: absolute;
				z-index: 1;
				width: 100%;
				background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
				top: 0px;
				bottom: 0px;
				left: 0px;
				text-align: center;
			}

			h1
			{
			text-align: center;
			border: 2px solid black;
			background: lightblue;
			}
			
			#accueil{
			top:0px;
			bottom:0px;
				position:absolute;
				z-index:10;
				background:white;
				width: 100%;
				height:100%;
			text-align: center;
			}
			
			.btnMode{
			margin-top:10%;
			margin:2px;
			}
			
			#slogan{
			margin-top:5%;
			font-size: 25px;
			text-decoration:underline;
			}
			
			#creationPlanning{
			border: 2px solid gray;
			}
			
			fieldset{
			position: absolute;
			width:10%;
			left:45%;
			top: 30%
			}

			.coins{
				background:white;
			}
			
			
			/* Classe pour centrer*/
			
			.placer_form {
				position:absolute;
				width: 100%;
				height:100%;
				display:table;
				text-align:center;
			}
			
			.centrer_form {
				position:relative;
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width:auto;
				height:auto;
				display: inline-block;
			}
			
			.containerForm {
				z-index:3;
				position: relative;
				width:100%;
				height:100%;
				background:rgba(255,255,255,0.5);
				display:table-cell;
				vertical-align: middle;
			}
			
			
			/*Formulaire Evenement */
			
			.form_evenement{
				border-radius:15px;
				box-shadow:5px 5px 5px #888888;
				background-color:#DAD8D8;
				padding: 0 15px 0 15px; 
			}
			
			.inputHeure{
				width:75px;
			}
			
			.form_evenement table {
				text-align:left;
			}
			

			
			/* Formulaire Colonne */
			
			.gererColonne{
				border-radius:15px;
				box-shadow:5px 5px 5px #888888;
				background-color:#DAD8D8;
				padding: 5px 15px 5px 15px; 
			}
			
			
			
			
			