	<div ng-class="accueilVisible.getClasse()" id="accueil">
		<h1>LE PLANNIFICAT'HEURE</h1>
		<p id="slogan">Planifier votre journée à toutes heures!</p>
		<div id="mode">
			<ol><li>Mode:</li></ol>
			<li><a href="#" class="btnMode" onmouseover="this.style.color='rgb(190,110,0)';" onmouseout="this.style.color='rgb(199,140,54)';" ng-click="creerPlanning('journalier');">Journalier</a></li>
			<li><a href="#" class="btnMode" onmouseover="this.style.color='rgb(190,110,0)';" onmouseout="this.style.color='rgb(199,140,54)';" ng-click="creerPlanning('hebdomadaire');">Hebdomadaire</a></li>
		</div>
	</div>