<div class="containerForm" ng-if="fenCategorie.isAfficher()">
	<form class="centrer_form"  ng-submit="">
		Gestion des catégories<br />
		<div class="containerCategorie" >
			<div ng-repeat="categorie in planning.getCategories()" class="couleurCategorie" >
				<span ng-click="focusCouleur(categorie)" class="radio"   ng-style="{background:categorie.getCouleur()}" ng-class="(form.categorie == categorie ) ? 'radioActive' : 'radioInactive'"> 
				</span>
			</div>
			<span ng-click="afficherAjouterCategorie()" class="radio" >+
				</span>
			<div>
				<input id="titreCategorie" type="text" ng-model="titreCat.val" />
				<button ng-click="modifierCategorie()" ng-disabled= "form.categorie == ''">Modifier</button>
				<button ng-click="fenCategorie.afficher(false)">Annuler</button>
			</div>
		</div>
	</form>
</div>