<div id="zoneBtn">
	<button class="info" ng-click="accueilVisible.afficher(true);" style="background:#ADD8E6;">retour accueil<span></span></button>
	<button class="info" ng-click="export();" style="background:#ADD8E6;"><img src="css/export.png"/><span>Export</span></button>
	<button class="info" ng-click="afficherModifierCategorie();" style="background:#ADD8E6;">Catégorie && couleur<span></span></button>
	<button class="info" ng-click="fenetreModifHoraire.afficher(true);" style="background:#ADD8E6;">Modifier la plage horaire<span></span></button>
	<button class="info" id="btnReset" ng-click="reinitialiser();" style="background:#ADD8E6;">Réinitialiser<span></span></button>
	<button class="info" ng-click="activerAiment();" style="background:#ADD8E6;">Recalculer affichage<span></span></button>
	<button class="info" ng-click="legendeCategorie.afficher(true);" style="background:#ADD8E6;">Légende des catégories<span></span></button>
</div>