<div id="zoneBtn">
	<button ng-click="accueilVisible.afficher(true);">retour accueil</button>
	<button ng-click="export();">Export</button>
	<button ng-click="afficherModifierCategorie();">Catégorie && couleur</button>
	<button ng-click="fenetreModifHoraire.afficher(true);">Modifier la plage horaire</button>
	<button id="btnReset" ng-click="reinitialiser();">Réinitialiser</button>
	<button ng-click="activerAiment();">Recalculer affichage</button>
	<button ng-click="legendeCategorie.afficher(true);">Légende des catégories</button>
</div>