<div class="containerForm" ng-if="fenetreEditEvnt.isAfficher()">
	<form id="editEvnt" class="form_evenement centrer_form" ng-if="fenetreEditEvnt.isAfficher()" ng-submit="ajoutEditEvmt()">
				<table>
					<tr>
						<td style="width:100px">Titre:</td>
						<td><input type="text" ng-model="form.titre"/></td>
					</tr>
					<tr>
						<td style="width:100px">Heure début:</td>
						<td><input class="inputHeure" type="number" ng-model="form.heureDeb"/>h <input type="number" class="inputHeure" ng-model="form.minuteDeb"/>m</td>
					</tr>
					<tr>
						<td>Heure fin:</td>
						<td><input type="number" class="inputHeure" ng-model="form.heureFin" />h <input type="number" class="inputHeure" ng-model="form.minuteFin"/>m<br /></td>
					</tr>
					<tr>
						<td style="vertical-align:top;">Description:</td>
						<td><textarea ng-model="form.description" maxlength="95" style="width:200px;height:80px;"></textarea></td>
					</tr>
					<tr>
						<td>Evenement commun :</td><td> <input type="checkbox" ng-model="form.evCommun" /> </td>
					</tr>
				</table>
				<div class="form_bouton">
					<input type="submit" value="Ajouter" ng-model="form.submit" ng-click="ajoutEvmt();" ng-if="mode=='ajout'" />
					<input type="submit" value="Modifier" ng-model="form.submit" ng-click="modifEvmt()" ng-if="mode!='ajout'"/>
					<input type="submit" value="Supprimer" ng-model="form.submit"  ng-click="suppEvmt()" ng-if="mode!='ajout'"/>
					<button ng-click="fenetreEditEvnt.afficher(false)">Annuler</button>
				</div>
		</form>
</div>