	<form id="editEvnt" ng-if="fenetreEditEvnt.isAfficher()" ng-submit="ajoutEditEvmt()">
			<div style="border:2px solid black;padding:2px;background:lightblue;width:35%;">
				<table>
					<tr><td style="width:100px">Titre:</td><td><input type="text" ng-model="form.titre"/></td></tr>
					<tr><td style="width:100px">Heure début:</td><td><input type="number" ng-model="form.heureDeb"/>h <input type="number" ng-model="form.minuteDeb"/>m</td></tr>
					<tr><td>Heure fin:</td><td><input type="number" ng-model="form.heureFin"/>h <input type="number" ng-model="form.minuteFin"/>m<br /></td></tr>
					<tr><td style="vertical-align:top;">Description:</td><td><textarea ng-model="form.description" maxlength="95" style="width:200px;height:80px;"></textarea><br />
					
					<input type="submit" value="Ajouter" ng-model="form.submit" ng-click="ajoutEvmt();" ng-if="mode=='ajout'" />
					<input type="submit" value="Modifier" ng-model="form.submit" ng-click="modifEvmt()" ng-if="mode!='ajout'"/>
					<input type="submit" value="Supprimer" ng-model="form.submit"  ng-click="suppEvmt()" ng-if="mode!='ajout'"/>
				</table>
			</div>
	{{form.titre}}
			<div style="border:2px solid black;padding:2px;background:lightblue;width:25%;">
				<p>Attention</p>
				<p>Cette plage horaire est déja utilisée par un autre événement, etes vous sur de vouloir la remplacer?</p>
				<button onclick="remplacer()">Oui</button><button onClick="annuleRemplace()">Non</button>
			</div>
		</form>