<div style="position:absolute;z-index:10;width:270mm;display:inline-block;" id="footer"  ng-include="'footer.html'"></div>

<div id="tableau"  >
	<div id="A4" style="display:block;width:29.7cm;"  ng-repeat="page in planning.getPages()" >
		<div   ng-style="{'width':planning.getColonneHoraire().getLargeurPrcnt()}" onresize="colonneRedimHoraire()" resizable   class="col pasMoi"  >
				<div class="coins cell" >Planning {{ouille($index)}}</div>
				<div class="cellHoraire"  ng-repeat="lig in ligne track by $index">{{lig + "h00 - "+(lig+1) +"h00"}}</div>
		</div>
		<div ng-style="{'width':sal.getLargeurPrcnt()}" resizable onresize="colonneRedim(sal)"   class="bigCol" ng-repeat="sal in page.getColonnes() track by $index">
		  <div  style="width:100%"    class="col ">
			<div class=" bordPlanningDroite cell" ng-click="afficherModifColonne(sal)">
			  {{sal.getTitre()}}
			</div>
			<div id="cellEvenement" class="cell"  deposer="deposer(sal,lig)" ng-repeat="lig in ligne" ng-click="afficherAjouterEvenement(sal,lig)">
			  {{ouille($index)}}
			</div>
			<div  class="tache">
			  <div  class="laTache" draggable="true"  glisser="glisser(tache,sal)" ng-click="afficherModifierEvenement(tache,sal)" ng-show="tache.getVisibility()" 
			  ng-repeat="tache in sal.getTaches()"  ng-style="{'height':tache.posEnPx(),'top':tache.hauteur(),'background':tache.getCategorie().getCouleur(),
			  'width': tache.largeur()}">
				<h3 class="titre">{{tache.getNom()}}</h3><p class="tacheTexte">{{tache.getDescription()}}</p>
			  </div>
			</div>
		  </div>
		</div>		
	</div>
	<div class="col" ng-if="planning.getMode() === 'journalier'">
		<div id="AjoutC" class="cell" >
			<img class="imgAjout" src="./css/colonnePlus.png" ng-click="fenetreAjoutColonne.afficher(true)"/>
		</div>
	</div>
</div>
</div>


<style>
	.bigCol{
		display:inline-block;
	}
</style>

